body {
  margin: 0;
  overflow: hidden;
  background: black;
}
canvas {
  display: block;
}
#crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
  background: white;
  border-radius: 50%;
  z-index: 10;
}
#hud {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  font-family: sans-serif;
  z-index: 10;
}
